* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: black;
}

span {
  color: white;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  padding: 40px;
}

#input-text {
  font-size: 1.4rem;
  padding-right: 5px;
}

#search-bar {
  padding: 6px;
  font-size: 1.3rem;
}

.button {
  padding: 5px;
  font-size: medium;
}

.button:hover {
  cursor: pointer;
}

.header__button {
  background-color: indianred;
}

#table__characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
}

.character__name {
  color: black;
}

.character__alias {
  color: black;
  font-style: italic;
  border-bottom: 1px solid goldenrod;
}

.no-house {
  background-color: rgb(217, 211, 211);
}

.character__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  width: 250px;
  border-radius: 10%;
  gap: 15px;
  height: 260px;
}

.character__img {
  height: 150px;
  width: auto;

  border-radius: 50%;
}

.Gryffindor {
  background-color: #a6332e;
}

.Hufflepuff {
  background-color: #efbc2f;
}

.Ravenclaw {
  background-color: #ec4e91;
}

.Slytherin {
  background-color: #366447;
}

.character__img {
  width: 100px;
}
